@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Italianno&family=Kaushan+Script&family=Leckerli+One&family=Mr+Dafoe&family=Pacifico&family=Playball&family=Satisfy&display=swap");
.logo {
    font-family: "Mr Dafoe", cursive;
    font-size: 30px;
    display: contents;
    margin-left: 100px;
    font-weight: 500;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
 }