.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }
    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 450px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    a.search_icon:hover {
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

    .search-info h6 {
        font-size: large;
    }

    .author-img-search {
        width: 50px;
        vertical-align: middle;
        height: 50px;
        border-radius: 50%;
    }

    .search-p p{
        max-width: 360px;
        word-wrap: break-word;
        font-size: 12px;
        color: #262626;
    }

    .btn-search {
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        justify-content: center;
    }

    .search-box {
        background: #fff;
        padding: 15px 25px;
        padding-bottom: 10px;
        margin-bottom: 25px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
        transition: all 0.2s;
    }